#tb_fix {
	empty-cells: show;
}

body,
div.draggable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
		 Introduced in IE 10.
		 See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
	/* font-family:Tahoma, Geneva, sans-serif; */
}

.cursorGrabbing {
	cursor: -webkit-grabbing !important;
	cursor: grabbing !important;
}

div.draggable {
	cursor: -webkit-grab;
	cursor: move;
	box-shadow: 1px 1px 1px black;
	margin: 1px;
	border-radius: 4px;
	font-size: 13px;
}

div.draggable:hover {
	/* color: red; */
	color: #3E001F;
	font-weight: bold;
}

div.mouseDiv {
	position: fixed;
	font-size: 14px;
	font-weight: bold;
	color: #3E001F;
	height: 18px;
	width: 135px;
}

td.day,
td.night {
	height: 40px;
	border: none !important;
	border-right: 1px solid grey !important;
	padding-top: 6px;
	vertical-align: bottom;
	/* background-color: #FFEEF4; */
}

td.shiftSeparator {
	height: 2px;
	background-color: #E25E3E;
}

div.highlight {
	background-color: yellow;
	text-align: center;
	height: 21px;
}

#showLink {
	height: 120px;
	z-index: 900;
}

div.dragAndDropStatusMessage {
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 400px;
	height: 16px;
	z-index: 999;
	background-color: dimgray;
	border-radius: 4px 4px 4px 4px;
	padding: 7px 7px 7px 7px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 3px black;
	color: yellow;
	text-align: center;
	vertical-align: central;
	font-size: 14px;
}

div.dragAndDropLoadingLayer {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: #000;
	z-index: 991;
	opacity: 0.3;
	color: #FFF;
	cursor: progress;
	display: none;
}

span.sumhr {
	text-align: center !important;
}

td.month,
td.month2 {
	height: 22px !important;
}

td.month a,
td.month2 a {
	color: black;
}

#showlink {
	height: 100px !important;
	background-color: lightgray;
	width: 100%;
}

input[title="Logo"] {
	background-position: -362px -96px !important;
}

/* moveAllBehind */
#moveList {
	background-color: PowderBlue;
	border-collapse: collapse;
	font: 12px tahoma;
	table-layout: fixed;
	margin: 0 auto;
}

#moveList td {
	border: thin solid Cornsilk;
	padding: 5px 5px;
}

#moveList tr.head {
	background-color: Bisque !important;
	color: DarkCyan;
	text-align: center;
	vertical-align: bottom;
}