body {
	font-family: 'Sarabun', sans-serif;
}

.box-color-size {
	width: 20px;
}

#main_board{
	height: 100vh;
  	overflow: hidden;
	/* width: 100%; */
}

div.card_masterplan:not(#master_plans_tab2)>.card-body {
	background-color: lightgray;
}

div.card_masterplan:not(.card-outline)>.card-header {
	background-color: dimgray;
	color: #ffe407;
}

#fixtb {
	overflow: auto;
	/* width: 100%; */
	height: 100%;
	scrollbar-width: thin;
}

#fixtb::-webkit-scrollbar {
	width: 20px;
}

#fixtb table {
	width: 100%;
	border-collapse: separate;
	padding-bottom: 8px;
}

#tb_fix tr:nth-child(1) th {
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
	top: 0px;
	position: sticky;
}

td.shiftSeparator {
	height: 2px;
	background-color: #d22121;
	;
}

#master_plans_tab1>.card-body {
	font-size: 14px;
}

#naviagateMasterPlan_go {
	padding: 0px 15px 0px 15px;
	/* height: fit-content; */
	margin-left: 5px;

}

.navigation-select {
	background-color: #F3FDE8;
	border-radius: 5px;
	border: solid 1px #F3FDE8;
	cursor: pointer;
}

.card {
	box-shadow: unset;
	margin-bottom: unset;
	border-radius: unset
}

.card-body{
	padding: 10px;
}

.card-header {
	border-top-left-radius: unset;
	border-top-right-radius: unset;
}

.font-total{
	font-weight: bold;
}

.div-plan-w{
	width: 135px;
	height: 18px;
}

.td-plan-w{
	width: 139px;
}

#iconNavigationContainer{
	margin-left: 25px;
	float: left;
}

.project_name{
font-weight: bold;
}

.draggable-disabled {
	cursor: not-allowed;
	box-shadow: 1px 1px 1px black;
	margin: 1px;
	border-radius: 4px;
	font-size: 13px;
}