*{box-sizing:border-box;}
body {
	font-family: 'Sarabun', sans-serif;
position:relative;
}

.box-color-size {
	width: 20px;
}

div.card_masterplan:not(#master_plans_tab2)>.card-body {
	background-color: lightgray;
}

div.card_masterplan:not(.card-outline)>.card-header {
	background-color: dimgray;
	color: #ffe407;
}

#master_plans_tab1>.card-body {
	font-size: 14px;
}

#naviagateMasterPlan_go {
	padding: 0px 15px 0px 15px;
	/* height: fit-content; */
	margin-left: 5px;

}

.navigation-select {
	background-color: #F3FDE8;
	border-radius: 5px;
	border: solid 1px #F3FDE8;
	cursor: pointer;
}

.card {
	box-shadow: unset;
	margin-bottom: unset;
	border-radius: unset
}

.card-body{
	padding: 10px;
}

.card-header {
	border-top-left-radius: unset;
	border-top-right-radius: unset;
}

.font-total{
	font-weight: bold;
}

.div-plan-w{
	/* width: 135px; */
	height: 18px;
	line-height:17px
}

.div-plan-h{
	/* width: 185px; */
	height: 18px;
	line-height:17px
}

table#plan_calendar tbody tr td.td-plan-h{
	width: 188px;
}

table#plan_calendar tbody tr td.td-plan-w{
	width: 139px;
}

#iconNavigationContainer{
	margin-left: 25px;
	float: left;
}

.project_name{
font-weight: bold;
}

.draggable-disabled {
	cursor: not-allowed;
	box-shadow: 1px 1px 1px black;
	margin: 1px;
	border-radius: 4px;
	font-size: 13px;
}
.remark_success{
	color: red;
	font-size: 12px;
}
#percent_success{
	font-size: 12px;
}
#fixtb{margin-top:100px;}
#header-area{height:80px;background:#ccc;position:fixed;top:0;left:0;width:100%;}
#tb_fix td.dropZone, td.showdate th.h_machine, td.sumhr  {width:240px !important;min-height:40px;border:1px solid #ccc;}
