
/* CSS for Master plan */
#tb_fix{
	empty-cells:show;
	table-layout:fixed;
	border-collapse:collapse;
	width:100%;
} 

td.night{
	vertical-align: bottom;
	table-layout:fixed;
	border:1px solid #8F8F8F;
	/* border-top:3px solid black;
	border-bottom:1px solid #8F8F8F;
	border-left:1px solid #8F8F8F;
	border-right:1px solid #8F8F8F; */
}
td.plan{
	vertical-align: bottom;
	border:1px solid;
	border-color:#8F8F8F;
	border-collapse:collapse;
	display: table-cell;
	
	
}
div.day{
	border:1px solid #8F8F8F;
	/*height:1px;*/
	border:1px solid;
	border-color:black;
	background-color:black;
	
}
td.month2,td.month{
	width:26px;
	height:30px;
	vertical-align: bottom;
	table-layout:fixed;
	border:1px solid;
	font-size: 14px;
}
td.sheet{
	background-color:#B8B8B8;
	height:40px;
	vertical-align: bottom;
	table-layout:fixed;
	border:1px solid;
	font-size: 20px;
}
td.month{
 background-color:#B8B8B8;
}
a{text-decoration:none;
  color:#8F8F8F;  
}
td.sheet :hover {
	color:#00D66F;
	font-size: 110%;
	

} 
td.month2:hover {
	color:#00D66F;
	font-size: 110%;
	background-color:#CCFFE6;

}  /* mouse over link */ 
  /*font-weight: bold;*/
  #showlink{
  position: fixed;
  background-color:#FFFFFF;
  height:140px;
  }
.machine,.showdate,.h_machine{
	vertical-align: inherit;
	table-layout:fixed;
	/* border:1px solid #8F8F8F; */
	font-size: 14px;
	text-align: center;
	background-color: #FFF;
}
.machine{
	border-bottom:1px solid #8F8F8F;
	border-right: 1px solid #8F8F8F;
}
.failed{
	border:1px solid #8F8F8F;
	font-size: 13px;
    text-align: left;
	background-color:#D1D1D1;
}
.sumhr{
	border-right: 1px solid #8F8F8F;
	border-bottom: 1px solid #8F8F8F;
	font-size: 11px;
    text-align: left;
	background-color:#BFF1F1;
}
.success2,.s5,.noperson,.pm,.Breakdown,.wait_ok,.ok,.ok_cus_color,.wait_ok_cus_color,.success{
	border:1px solid #8F8F8F;
	font-size: 13px;
    text-align: left;

}

.noperson{
	background-color:#EFED95;
}
.pm{
	background-color:#BEADFA;
}
.breakdown{
	background-color:#F7C85A;
}
.s5{
	background-color:#e5aeb8;
}
.wait_ok{
	background-color:#64A9F3;
}
.ok_cus_color{
	background-color:#E03C3C;
	color: #fff;
}
.wait_ok_cus_color{
	background-color:#FF8F8F;
}
.ok{
	background-color:#82D770;
}
.success{
	background-color:#FFFFFF;
}
.success2{
	background-color:#663500;
}

/* border darg */
.noperson-boder{
	border-left: 15px solid #CCCA80;;
	background-color: #EFED95;
}
.pm-boder{
	border-left: 15px solid #8D80BB;
	background-color: #BEADFA;
}
.breakdown-boder{
	border-left: 15px solid #C6A049;
	background-color: #F7C85A;
}
.s5-boder{
	border-left: 15px solid #c48893;
	background-color: #e5aeb8;
}
.wait_ok-boder{
	border-left: 15px solid #467BB3;
	background-color: #64A9F3;
}
.ok_cus_color-boder{
	border-left: 15px solid #C43737;
	background-color: #E03C3C;
}
.wait_ok_cus_color-boder{
	border-left: 15px solid #BE7D7D;
	background-color: #FAA;
}
.ok-boder{
	border-left: 15px solid #9ECA95;
	background-color: #CAF9C0;
}
.success-boder{
	border-left: 15px solid #E1E1E1;
	background-color: #F4F9FB;
	border-top: 1px solid #E1E1E1;
}
.success2-boder{
	border-left: 15px solid #663500;
	background-color: #ADC4CE;
}

.link-color-red{
	background-color:#F00;
	height:3px;	
}
.ui-pnotify-history-container{
	position:fixed !important;	
}
#headVisibility {
z-index: 99;
position: absolute;
background-color: #FFF;
}
#naviagateMasterPlanContainer{
	text-align:center;
}
#colorInfo{
	font-size:12px;
}
#colorInfo span{
	border:0.5px solid #000;
}

.holiday-color-orage{
	background-color: #FDC9A7 !important;
}

.holiday-color-gray{
	background-color: #B1BABF !important;
}

.day-color-white{
	background-color: #fff;
}