<div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" id="show_menus" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-item">
            <a href="/" class="nav-link active">
              <i class="nav-icon far fa-da"></i>
              <p>Home</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/time" class="nav-link">
              <i class="nav-icon far fa-circle"></i>
              <p>Time</p>
            </a>
          </li>
          
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                MENU PARENT
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
					        <i class="far fa-circle nav-icon"></i>
                  <p>MENU 1</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
				          <i class="far fa-circle nav-icon"></i>
                  <p>MENU 2</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
				          <i class="far fa-circle nav-icon"></i>
                  <p>MENU 3</p>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->