body {
    line-height: 1;
}

button:not(.btn-tool) {
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
}

.content-header {
    height: 100vh;
    overflow: hidden;
}

.el_visible {
    visibility: hidden;
}

.content-wrapper {
    background-color: #F4F2DE;
    margin-left: unset !important;
}

div.card {
    font-size: 9pt;
    margin-bottom: .5rem !important;
}

div.card-body {
    padding: 1rem;
}

div.card_scheduler>div.card-body {
    padding: .5rem .5rem;
}

div#scheduler_tab3>div.card-body {
    padding: 0rem 0rem !important;
}

div#scheduler_tab4>div.card-body {
    background-color: #e4e4e4;
    /*#E9B384;*/
    height: 35px;
    /* font-weight: bold; */
    /* font-size: 10pt; */
}

div#scheduler_tab3>div.card-header {
    background-color: #e4e4e4;
}

/* in scheduler_tab3 */
div.div_table_plan {
    height: 100%;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: .75rem;
}

h1.text_loading {
    text-align: center;
}

div.div_btn_search {
    display: flex;
    justify-content: end;
    padding-left: 0;
}

div.div_btn_search>button {
    height: 100%;
    margin-right: .25rem;
    white-space: nowrap;
}

div.div_btn_search>button#btn_search {
    width: 100%;
    height: 60px;
    /* padding-left: 32px;
    padding-right: 32px; */
}

div.div_btn_search>button:not(#btn_search) {
    width: 10rem;
}

div.div_btn_export {
    padding-left: 0;
    /* padding-right: 0; */
}

button.btn_export {
    font-size: 9pt !important;
}

a.nav-link,
div.card-title {
    font-weight: bold;
    color: #212529;
}

div.card_scheduler:not(.card-outline)>.card-header {
    background-color: #E9B384;
    /*#E9B384;*/
}

ul>div.card-tools {
    position: absolute;
    right: 0;
    padding-right: 0.1rem;
}

i.fas.fa-minus,
i.fas.fa-plus {
    color: #212529;
}

input.form-control,
select.form-control {
    font-size: 9pt !important;
    height: auto !important;
    line-height: 1 !important;
    padding: .160rem !important;
}

table tbody td {
    vertical-align: middle !important;
    text-align: right;
    white-space: nowrap;
}

table {
    width: 100%;
    /* height: 100%; */
}

.disabled {
    background-color: #e9ecef !important;
    pointer-events: none;
}

span.project_name {
    font-size: 18pt;
}

button.btn_plan {
    font-size: 9pt;
    line-height: 1;
    height: auto;
    background-color: #E9B384;
    margin-top: .1rem !important;
    text-align: left;
    /* opacity: 0.9; */
}

button.btn_plan:not(#e_btn_send_sub):hover {
    filter: brightness(80%);
}

table#tb_plans thead {
    background-color: #e4e4e4;
    position: sticky;
    top: 0;
    /*#E9B384;*/
}

table#tb_plans thead tr>th {
    padding: 0.5rem 1rem;
    text-align: center;
    border: 1px solid #d4d9de;
    border-top: none;
}

table#tb_plans tbody tr>td {
    padding: 0.3rem .5rem;
    border: 1px solid #d4d9de;
}

table#tb_plans thead tr>th:first-child,
table#tb_plans tbody tr>td:first-child,
table#tb_plans thead tr>th:last-child,
table#tb_plans tbody tr>td:last-child {
    border-left: none;
    border-right: none;
}

table#tb_plans tbody tr>td.color_day {
    background: #5FD068;
}

table#tb_plans tbody tr>td.color_night {
    background: #FF6363;
}

table#tb_plans tbody tr>td.left {
    text-align: left;
}

table#tb_plans tbody tr>td.center {
    text-align: center;
}

table#tb_plans tbody tr:nth-child(odd) {
    background-color: #fbfbfb;
}

table#tb_plans tbody tr:nth-child(even) {
    background-color: #fff1c1;
}

table#tb_plans.dataTable {
    margin: 0 !important;
}

table#tb_plans tbody tr:hover {
    background-color: #defcf9;
    cursor: pointer;
}

table#tb_plans tbody tr.rowSelected {
    background-color: #00bbf0;
    color: #fff;
}

table#tb_plans tbody tr>td.color-row-select {
    background-color: #00bbf0;
    color: #fff;
}

input.input_total {
    width: 6rem;
    text-align: right;

}

.input_total {
    font-weight: bold;
}

#e_btn_delete {
    background-color: #dc3545;
    color: #000;
}

#e_btn_cancel {
    background-color: #FC8793;
    color: #000;
}

#e_btn_save {
    background-color: #008287;
    color: #fff;
}

#e_btn_copy {
    background-color: #f8da5b;
    color: #000;
}

#btn_insert {
    background-color: #7dd87d;
    color: #000;
}

#e_btn_reset {
    background-color: #ccc;
    color: #000;

}

.ui-widget-header {
    background: #FFA05B;
    /*#E9B384;*/
}

.ui-datepicker {
    font-size: 10pt;
}

.form-control[readonly] {
    background-color: unset;
}

.fill-in {
    color: red;
}

.process-next-input {
    width: 299px;
}

input.larger {
    width: 50px;
    height: 18px;
}

#btn_p_print {
    background-color: #CCC8AA;
}

#btn_p_excel {
    background-color: #70c758;
}

.lightyellow {
    background-color: lightyellow !important;
}

.btn-brown {
    color: #fff;
    background-color: #630;
    border-color: #630;
    box-shadow: none;
}

.ui-menu-item {
    /* background-color: aliceblue !important; */
    cursor: pointer !important;
}

/* ul.ui-autocomplete{
    background-color:#F7F8FB !important;
} */

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    max-width: 170px !important;
}

.item-autocomplete {
    font-size: 9pt !important;
    line-height: 1 !important;
    text-align: left;
    padding: 5px;
}

.ui-autocomplete-partname {
    max-width: 320px !important;
}

div.item-autocomplete {
    font-size: 10pt;
}

#btn_p_print_test {
    background-color: #CCC8AA;
}

.autocomplete_container,
.div_machine_text {
    position: relative;
    /* display: inline-block; */
}

.autocomplete_result_container {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.autocomplete_result_item {
    padding-bottom: .40rem;
    cursor: pointer;
    pointer-events: inherit;
}

.autocomplete_result_item:hover {
    background-color: #f0f0f0;
}

.autocomplete_result_item:first-of-type {
    padding-top: .40rem;
}

/* .machine_text_autocomplete {
    position: absolute;
    margin: 1.5%;
}

.machine_text_del {
    position: absolute;
    right: 0;
    margin: 1.5%;
    cursor: pointer;
    color: red;
} */