<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scheduler - MI3</title>
    <%- include('../includes/script-top'); %>
        <link rel="stylesheet" href="./projects/scheduler/css/scheduler-menu.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <!-- <div class="wrapper"> -->
            <div class="content-wrapper">
                <div class="container-fluid" id="main_board">
                    <div class="content-header">
                        <div class="container-fluid" id="second_board">
                            <div class="menu_list d-flex flex-wrap">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../includes/script-bottom'); %>
                <script src="../projects/scheduler/js/scheduler-main.js"></script>
                <script src="../projects/scheduler/js/scheduler.js"></script>
                <script src="../projects/scheduler/js/scheduler-menu.js"></script>
    <!-- </div> -->
</body>

</html>