<!DOCTYPE html>
<html lang="en">
<head>
    <title>MI v.3</title>
    <%- include('../../includes/script-top'); %>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('../../includes/navbar'); %>
        <div class="content-wrapper">
            <div class="container-fluid" id="main_board">
                <div class="content-header">
                    <div class="col-lg-12" id="action_bar">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-left" id="show_navigation_group"></ol>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right" id="show_action_group"></ol>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" id="second_board">
                    <!-- Start page content below -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card card-outline card-purple">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <h5 class="card-title text-bold">
                                                    <i class="fas fa-list-alt mr-1"></i>
                                                    DR รอสร้าง DO
                                                </h5>
                                            </div>
                                            <div class="col-sm-5 float-right d-none d-sm-inline-block text-right font-italic">
                                                <small></small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div id="table_data_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="table_data" class="table table-responsive table-sm text-sm table-bordered table-hover dataTable dtr-inline display" aria-describedby="table_data_info">
                                                        <thead>
                                                            <tr>
                                                                <th width="1%" class="sorting sorting_asc text-center" tabindex="0" aria-controls="table_data" aria-sort="ascending">No.</th>
                                                                <th width="5%" class="sorting text-center" tabindex="0" aria-controls="table_data">Due Date</th>
                                                                <th width="9%" class="sorting text-center" tabindex="0" aria-controls="table_data">DR No.</th>
                                                                <th width="5%" class="sorting text-center" tabindex="0" aria-controls="table_data">DR Quantity</th>
                                                                <th width="5%" class="sorting text-center" tabindex="0" aria-controls="table_data">ประเภทสินค้า</th>
                                                                <th width="5%" class="sorting text-center" tabindex="0" aria-controls="table_data">ประเภทการส่ง</th>
                                                                <th width="5%" class="sorting text-center" tabindex="0" aria-controls="table_data">สาเหตุการเลื่อนส่ง</th>
                                                                <th width="5%" class="sorting text-center" tabindex="0" aria-controls="table_data">Job No.</th>
                                                                <th width="5%" class="sorting text-center" tabindex="0" aria-controls="table_data">Job Name</th>
                                                                <th width="5%" class="sorting text-center" tabindex="0" aria-controls="table_data">DO No.</th>
                                                                <th width="5%" class="sorting text-center finish_goods" tabindex="0" aria-controls="table_data">Do Quantity</th>
                                                                <th width="5%" class="sorting text-center finish_goods" tabindex="0" aria-controls="table_data">Pallet Detail</th>
                                                                <th width="5%" class="sorting text-center finish_goods" tabindex="0" aria-controls="table_data">น้ำหนัก</th>
                                                                <th width="10%" class="sorting text-center materials" tabindex="0" aria-controls="table_data">วัตถุดิบ</th>
                                                                <th width="10%" class="sorting text-center" tabindex="0" aria-controls="table_data">ประเภทงาน</th>
                                                                <th width="5%" class="sorting text-center" tabindex="0" aria-controls="table_data">ลูกค้า</th>
                                                                <th width="10%" class="sorting text-center" tabindex="0" aria-controls="table_data">ที่อยู่จัดส่ง</th>
                                                                <th width="5%" class="sorting text-center" tabindex="0" aria-controls="table_data">AE</th>
                                                                <th width="1%" class="sorting text-center finish_goods" tabindex="0" aria-controls="table_data">ส่งของพร้อมวางบิล</th>
                                                                <th width="5%" class="sorting text-center" tabindex="0" aria-controls="table_data">เอกสารแนบ</th>
                                                                <th width="9%" class="sorting text-center" tabindex="0" aria-controls="table_data">หมายเหตุ</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="dataModalLabel"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="table_data_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="table_pallet" class="table table-responsive table-sm text-sm table-bordered table-hover dataTable dtr-inline display" aria-describedby="table_data_info">
                                                        <thead>
                                                            <tr>
                                                                <th width="2%" class="sorting sorting_asc text-center" tabindex="0" aria-controls="table_data" aria-sort="ascending">No.</th>
                                                                <th width="9%" class="sorting text-center" tabindex="0" aria-controls="table_data">วันที่รับ</th>
                                                                <th width="10%" class="sorting text-center" tabindex="0" aria-controls="table_data">Pallet No.</th>
                                                                <th width="8%" class="sorting text-center" tabindex="0" aria-controls="table_data">Job No.</th>
                                                                <th width="10%" class="sorting text-center" tabindex="0" aria-controls="table_data">Job Name</th>
                                                                <th width="12%" class="sorting text-center" tabindex="0" aria-controls="table_data">ผู้รับ</th>
                                                                <th width="8%" class="sorting text-center" tabindex="0" aria-controls="table_data">หมายเหตุ</th>
                                                                <th width="8%" class="sorting text-center" tabindex="0" aria-controls="table_data">Location</th>
                                                                <th width="8%" class="sorting text-center" tabindex="0" aria-controls="table_data">จำนวนชิ้น/พาเลท</th>
                                                                <th width="8%" class="sorting text-center" tabindex="0" aria-controls="table_data">จำนวน/แพ็ค</th>
                                                                <th width="8%" class="sorting text-center" tabindex="0" aria-controls="table_data">น้ำหนัก/พาเลท</th>
                                                                <th width="9%" class="sorting text-center" tabindex="0" aria-controls="table_data">Dimension (รวม)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="save">Save</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <%- include('../../includes/script-bottom'); %>
        <script src="../projects/delivery/js/do/do_request.js"></script>
    </div>
</body>
</html>